---
import moment from "moment";
interface Props {
  subject: {
    type: string;
    date: string;
    time?: string;
    additionalInfo?: string;
    summary?: string[];
  }[];
}

const { subject } = Astro.props;
---

<ul>
  {
    subject.map((exam) => {
      const hasTime = !!exam.time;

      const momentDate = moment(
        hasTime ? `${exam.date} ${exam.time}` : exam.date
      ).locale("pl");

      return (
        <li>
          <b>{exam.type}</b> -{" "}
          {hasTime
            ? momentDate.format("D MMMM YYYY, dddd, HH:mm")
            : momentDate.format("D MMMM YYYY")}{" "}
          {exam.additionalInfo && <span>({exam.additionalInfo})</span>} &rarr;{" "}
          <i class="text-gray-400">{momentDate.fromNow()}</i>
          {exam.summary && (
            <ol>
              {exam.summary.map((topic) => (
                <li>{topic}</li>
              ))}
            </ol>
          )}
        </li>
      );
    })
  }
</ul>
